<a href="https://colab.research.google.com/github/cabralana/training_python_with_sql/blob/main/Training_Python_with_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**SQL - Revisão de Conhecimentos**

### IMPORTAR **SQL** NO GOOGLE COLAB

In [ ]:
import sqlite3

In [ ]:
#Python Version
from platform import python_version

print(python_version())

3.7.15

#Criação BD

In [ ]:
Conexao = sqlite3.connect('Banco_Dados')

#Apontar para o BD

In [ ]:
Cursor = Conexao.cursor()

###CRIAR TABELA **(CREATE TABLE)**

CREATE TABLE table_name(column1 datatype, column2 datatype, column3 datatype, ...)

In [ ]:
Cursor.execute(
    'CREATE TABLE Minha_Primeira_Tabela (Nome text, Data text, Idade real)'
)
Conexao.commit()

OperationalError: ignored

###INSERIR REGISTROS NA TABELA **(INSERT INTO)**

INSERT INTO table_name(column1, column2, column3, ...)

In [ ]:
Cursor.execute('INSERT INTO Minha_Primeira_Tabela VALUES ("Ana Paula", "30/09/1993", "29")')

In [ ]:
Cursor.execute('INSERT INTO Minha_Primeira_Tabela VALUES ("Priscila", "26/11/1992", "30")')

In [ ]:
#Importando números aleatórios
import random

In [ ]:

for Loop in range(10):
  

  Numero = random.randint(10, 20)
 
  Cursor.execute( f' INSERT INTO Minha_Primeira_Tabela VALUES ( "26/11/1992", "Priscila", {Numero} ) ')

###SELECIONAR DADOS EM UM BD **(SELECT)**

In [ ]:
#Consulta com SELECT * - todos os registros da tabela
Consulta = Cursor.execute('SELECT * FROM Minha_Primeira_Tabela').fetchall()
print (Consulta)

[('Ana Paula', '30/09/1993', 29.0), ('Priscila', '26/11/1992', 30.0), ('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 13.0), ('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 14.0), ('26/11/1992', 'Priscila', 19.0), ('26/11/1992', 'Priscila', 15.0), ('26/11/1992', 'Priscila', 12.0), ('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 10.0), ('26/11/1992', 'Priscila', 14.0)]

In [ ]:
#Consulta com SELECT columns1, columns2, columns3... - registros específicos
Consulta = Cursor.execute('SELECT Nome, Data, Idade FROM Minha_Primeira_Tabela').fetchall()

for Linha in Consulta: 
  print(Linha)

('Ana Paula', '30/09/1993', 29.0)
('Priscila', '26/11/1992', 30.0)
('26/11/1992', 'Priscila', 16.0)
('26/11/1992', 'Priscila', 13.0)
('26/11/1992', 'Priscila', 16.0)
('26/11/1992', 'Priscila', 14.0)
('26/11/1992', 'Priscila', 19.0)
('26/11/1992', 'Priscila', 15.0)
('26/11/1992', 'Priscila', 12.0)
('26/11/1992', 'Priscila', 16.0)
('26/11/1992', 'Priscila', 10.0)
('26/11/1992', 'Priscila', 14.0)

###FILTRAR REGISTROS **(WHERE)**

SELECT column1 FROM table_name WHERE condition;

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Primeira_Tabela
    WHERE Idade = '29'
    '''
).fetchall()
print(Consulta)

[('Ana Paula', '30/09/1993', 29.0)]

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Primeira_Tabela 
    WHERE Idade > 23
    '''
).fetchall()

print(Consulta)

[('Ana Paula', '30/09/1993', 29.0), ('Priscila', '26/11/1992', 30.0)]

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Primeira_Tabela 
    WHERE Idade < 23
    '''
).fetchall()

print(Consulta)

[('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 13.0), ('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 14.0), ('26/11/1992', 'Priscila', 19.0), ('26/11/1992', 'Priscila', 15.0), ('26/11/1992', 'Priscila', 12.0), ('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 10.0), ('26/11/1992', 'Priscila', 14.0)]

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Primeira_Tabela 
    WHERE Idade <= 23
    '''
).fetchall()

print(Consulta)

[('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 13.0), ('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 14.0), ('26/11/1992', 'Priscila', 19.0), ('26/11/1992', 'Priscila', 15.0), ('26/11/1992', 'Priscila', 12.0), ('26/11/1992', 'Priscila', 16.0), ('26/11/1992', 'Priscila', 10.0), ('26/11/1992', 'Priscila', 14.0)]

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Primeira_Tabela 
    WHERE Nome <> 'Ana Paula'
    '''
).fetchall()

for Linha in Consulta:
  print( Linha )

('Priscila', '26/11/1992', 30.0)
('26/11/1992', 'Priscila', 16.0)
('26/11/1992', 'Priscila', 13.0)
('26/11/1992', 'Priscila', 16.0)
('26/11/1992', 'Priscila', 14.0)
('26/11/1992', 'Priscila', 19.0)
('26/11/1992', 'Priscila', 15.0)
('26/11/1992', 'Priscila', 12.0)
('26/11/1992', 'Priscila', 16.0)
('26/11/1992', 'Priscila', 10.0)
('26/11/1992', 'Priscila', 14.0)

###SELECIONAR DETERMINADO RANGE DE REGISTROS EM UMA TABELA **(BETWEEN)**

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Primeira_Tabela
    WHERE Idade BETWEEN 20 AND 30
    '''
).fetchall()

for Linha in Consulta:
  print ( Linha )

('Ana Paula', '30/09/1993', 29.0)
('Priscila', '26/11/1992', 30.0)

###PARA PROCURAR UM PADRÃO ESPECÍFICO EM UMA COLUNA, USA-SE O **(LIKE)** EM UMA WHERE 




*   % - representa zero, um ou vários caracteres
*   _ - um único caractere

In [ ]:
Consulta = Cursor.execute(
  '''
  SELECT * FROM Minha_Primeira_Tabela
  WHERE Nome LIKE 'A%' 
  '''
).fetchall()

for Linha in Consulta:
  print(Linha)

  #que comece com a letra A

('Ana Paula', '30/09/1993', 29.0)

In [ ]:
Consulta = Cursor.execute(
  '''
  SELECT * FROM Minha_Primeira_Tabela
  WHERE Nome LIKE '%A' 
  '''
).fetchall()

for Linha in Consulta:
  print(Linha)

  #que termine com a letra A

('Ana Paula', '30/09/1993', 29.0)
('Priscila', '26/11/1992', 30.0)

In [ ]:
Consulta = Cursor.execute(
  '''
  SELECT * FROM Minha_Primeira_Tabela
  WHERE Nome LIKE '%scil%' 
  '''
).fetchall()

for Linha in Consulta:
  print(Linha)

  #que tenha o padrão

('Priscila', '26/11/1992', 30.0)

###PERMITE ESPECIFICAR VÁRIOS VALORES EM UMA WHERE **(IN)**

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Primeira_Tabela
    WHERE Idade IN (15,18,21,24,27,30)
    '''
).fetchall()

for Linha in Consulta:
  print(Linha)

('Priscila', '26/11/1992', 30.0)
('26/11/1992', 'Priscila', 15.0)

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Primeira_Tabela
    WHERE Idade IN ("Ana Paula")
    '''
).fetchall()

for Linha in Consulta:
  print(Linha)